* {
    padding: 0%;
    margin: 0%;
    font-family: 'Staatliches', cursive;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #9C27B0;
    font-size: 1.6rem;
    line-height: 1.5;
}

div {
    display: block;
}


.logo {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.navegacion {
    background-color: #89119D;
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    flex-direction: row;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 2%;
    color: #FFCE00;
}

.contenedor {
    display: grid;
    grid-template-columns: auto auto;
}

.producto {
    background-color: #89119D;
    padding: 1rem;
}

.producto__nombre {
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

.producto__imagen {}